body,
svg,
.dashboard-container {
  background:  #111;
}

h2, h3, h4, h5 {
  color: #777;
}

h3 {
  text-align: center;
}

.dashboard-container {
  padding: 20px 0 40px;
}

.current-numbers {
  color: #FFF;
}

.info {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #222;
}

.info h4 {
  color: #999;
}

.info p,
.info a,
.info ul {
  color: #777;
}

.definition {
  opacity: 0.5;
}

.wm-footer {
    padding: 40px 0px;
    background-color: #013E5F;
    color: #FFF;
}

footer h4 {
  color: #028ED9;
  margin-bottom: 5px;
}

footer h5 {
  color: #02669D;
  margin-top: 5px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

/* Styling for D3 SVG Graph */

.axis path {
  fill: none;
  stroke: rgba(255,255,255,0.2);
  shape-rendering: crispEdges;
}
.axis {
  font-size: 8pt;
  font-family: Open Sans;
  font-weight: normal;
}
.axis line {
  fill: none;
  stroke: rgba(255,255,255,0.2);
  shape-rendering: crispEdges;
}

.tick {
  fill: none;
}
.tick text {
  stroke: none;
}

.tick line {
  display: none;
}






line.target {
    fill: none;
    stroke: rgba(255,255,255,0.3);
    opacity: 0.4;
}

line.target.goal {
    fill: none;
    opacity: 1;
}


body rect {
  color: #F00;
}

rect.info-area {
  opacity: 0;
  fill: #FFF;
  position: relative;
}

.d3-tip {
  line-height: 1.2;
  font-weight: normal;
  font-size: 10px;
  padding: 6px;
  background: rgba(0, 0, 0, 1);
  color: #CCC;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.row.year {
  margin-top: 30px;
}



circle {
  stroke: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.target-label {
  font-size: 12px;
}

.target-label.shadow-version {
  stroke:#111;
  stroke-width:8px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
}

/*
  var color_1 = "#a6cee3";
  var color_2 = "#1f78b4";
  var color_3 = "#b2df8a";
*/

/* default is Thing-1 */
span.money {
  color: #a6cee3;
}

.tick text,
text.line-1,
rect.bar-1.past-date,
.label-1,
.target-label.goal-1  {
  fill: #a6cee3;
}

.line.line-1,
.line.line-1.future-date,
line.target.goal-1,
.axis.y1 path {
  stroke: #a6cee3;
}


/* Thing-2 */
text.line-2,
rect.bar-2.past-date,
.target-label.goal-2 {
  fill: #1f78b4;
}

.line.line-2,
.line.line-2.future-date,
line.target.goal-2 {
  stroke: #1f78b4;
}


/* Thing-3 */
span.people {
  color: #b2df8a;
}

text.line-3,
rect.bar-3.past-date,
.y2 .tick text,
.label-3,
.target-label.goal-3 {
  fill: #b2df8a;
}

.line.line-3,
.line.line-3.future-date,
line.target.goal-3,
.axis.y2 path {
  stroke: #b2df8a;
}


