body {
  background:  #FFF;
  font-size: 14px;
  line-height: 20px;
}


.outer-wrapper {
  background: url('/img/bg-gradient-sand.png') repeat-x scroll 0% 0%, url('/img/bg-sand.png') repeat scroll 0% 0%, none repeat scroll 0% 0% #F5F1E8;
  border-top: 2px solid #FFF;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 100%;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 100%;
}
.small, small {
  font-size: 12px;
  line-height: 100%;
}

h1, h2, h3, h4, h5 {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  color: #484848;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
  text-shadow: none;
  margin-bottom: 20px;
}

h1, h3 {
  text-align: center;
}

.dashboard-container {
  padding: 20px 0 40px;
}

.current-numbers {
  color: #FFF;
}

.info {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 200px;
  background: #FFF;
}

.info h4 {
  color: #999;
}

.info p,
.info ul {
  color: #777;
}

.info a {
  color: #0095DD;
}

.info a:hover {
  color: #00539F;
}

.info span.people,
.info span.money {
  font-weight: bold;
}

.definition {
  opacity: 0.5;
}

.wm-footer {
    padding: 40px 0px;
    background-color: #FFF;
    color: #FFF;
}

footer h4 {
  /*color: #028ED9;*/
}

footer h5 {
  /*color: #02669D;*/
  margin-top: 5px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

/* Styling for D3 SVG Graph */

.axis path {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.axis {
  font-size: 10pt;
  font-family: Open Sans;
  font-weight: normal;
}
.axis line {
  fill: none;
  stroke: rgba(255,255,255,0.2);
  shape-rendering: crispEdges;
}

.tick {
  fill: none;
}
.tick text {
  stroke: none;
}

.tick line {
  display: none;
}




line.target {
    fill: none;
    stroke: rgba(255,255,255,0.3);
    opacity: 0.4;
}

line.target.goal {
    fill: none;
    opacity: 1;
}


body rect {
  color: #F00;
}

rect.info-area {
  opacity: 0;
  fill: #FFF;
  position: relative;
}

.d3-tip {
  line-height: 1.2;
  font-weight: normal;
  font-size: 10px;
  padding: 6px;
  background: rgba(0, 0, 0, 1);
  color: #CCC;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.row.year {
  margin-top: 30px;
}



circle {
  stroke: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.target-label {
  font-size: 10px;
}

.target-label.shadow-version {
  stroke:#EDEBE4;
  stroke-width:4px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
}

.tick text,
.label-1,
.label-3 {
  fill: #CCC;
}

/*
  var color_1 = "#27aae1";
  var color_2 = "#1f78b4";
  var color_3 = "#3fb58e";
*/

/* default is Thing-1 */
span.money,
a.money {
  color: #27aae1;
}

.y1 .tick text,
text.line-1,
rect.bar-1.past-date,
.target-label.goal-1  {
  fill: #27aae1;
}

.line.line-1,
.line.line-1.future-date,
line.target.goal-1,
.axis.y1 path {
  stroke: #27aae1;
}


/* Thing-2 */
text.line-2,
rect.bar-2.past-date,
.target-label.goal-2 {
  fill: #1f78b4;
}

.line.line-2,
.line.line-2.future-date,
line.target.goal-2 {
  stroke: #1f78b4;
}


/* Thing-3 */
span.people,
a.people {
  color: #3fb58e;
}

text.line-3,
rect.bar-3.past-date,
.y2 .tick text,
.target-label.goal-3 {
  fill: #3fb58e;
}

.line.line-3,
.line.line-3.future-date,
line.target.goal-3,
.axis.y2 path {
  stroke: #3fb58e;
}


