body {
  background: #333;
}



h2, h3, h5 {
  color: #FFF;
}

.dashboard-container {
  background:  #333;
  padding: 20px 0 40px;
}

.current-numbers {
  color: #FFF;
}

.definition {
  opacity: 0.5;
}

.key-box {
 float: right;
}

.key-box p {
  display: inline;
  float: left;
  margin: 0 10px 0 5px;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
}

.key {
  display: inline;
  float: left;
  width: 10px;
  height: 16px;
  background: #FFF;
  margin: 2px 5px 0 0;
}

.key.dollars-total {
  border-radius: 10px;
  width: 4px;
  height: 4px;
  margin-top: 8px;
}

.key.dollars-new {
  background: #fff;
}

.key.contributors-total {
  border-radius: 10px;
  background: #FECB33;
  width: 4px;
  height: 4px;
  margin-top: 8px;
}

.key.contributors-new {
  background: #FECB33;
}

.contributors-key,
.dollar-key {
  display: inline;
  float: right;
  margin-right: 60px;
}

.contributors-key p,
.contributors-key h5 {
  color: #FECB33;
}

.wm-footer {
    padding: 40px 0px;
    background-color: #013E5F;
    color: #FFF;
}

footer h4 {
  color: #028ED9;
  margin-bottom: 5px;
}

footer h5 {
  color: #02669D;
  margin-top: 5px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

/* Styling for D3 SVG Graph */

svg {
  background:  #333;
}

.axis path {
  fill: none;
  stroke: rgba(255,255,255,0.2);
  shape-rendering: crispEdges;
}
.axis {
  font-size: 8pt;
  font-family: Open Sans;
  font-weight: normal;
}
.axis line {
  fill: none;
  stroke: rgba(255,255,255,0.2);
  shape-rendering: crispEdges;
}

.tick {
  fill: none;
}
.tick text {
  fill: #FFF;
  stroke: none;
}

.tick line {
  display: none;
}

.y2 .tick text {
  fill: rgba(254, 203, 51, 1);
}

circle {
  stroke: none;
  fill: #fff;
}

circle.line-2 {
  stroke: none;
  fill: rgba(254, 203, 51, 1);
}

circle.line-2.future-date {
  stroke: none;
  fill: rgba(254, 203, 51, 1);
}

.line.line-1 {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.line.line-2 {
  fill: none;
  stroke: rgba(254, 203, 51, 1);
  stroke-width: 1.5px;
}

.line.line-2.future-date {
  stroke: rgba(254, 203, 51, 0.5);
}


rect.bar-1.past-date {
  fill: #fff;
}

rect.bar-2.past-date {
  fill: rgba(254, 203, 51, 1);
}


line.target {
    fill: none;
    stroke: rgba(255,255,255,0.3);
    opacity: 0.4;
}

line.target.goal {
    fill: none;
    stroke: #FFF;
    opacity: 1;
}

/* future dollars */
circle.future-date {
  fill: rgba(255, 255, 255, 1);
}

rect.future-date {

}

.line.line-1.future-date {
  fill:none;
  stroke: rgba(255, 255, 255, 0.5);
}

.line.line-2.future-date {
  fill:none;
  stroke: rgba(255, 255, 0, 0.5);
}

body rect {
  color: #F00;
}

rect.info-area {
  opacity: 0;
  fill: #FFF;
  position: relative;
}

.d3-tip {
  line-height: 1.2;
  font-weight: normal;
  font-size: 10px;
  padding: 6px;
  background: rgba(0, 0, 0, 1);
  color: #CCC;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.row.year {
  margin-top: 30px;
}
